In [2]:
mylist = [2,2,3,4,5,6]

In [6]:
for num in mylist:
 print(num)

2
2
3
4
5
6

In [8]:
for num in mylist:
#check even num
 if num%2==0:
        print ('num is even number')
 else:
    print ('num is not even')

num is even number
num is even number
num is not even
num is even number
num is not even
num is even number

In [11]:
tup =(1,2,3)
for item in tup:
 print("mylist")

mylist
mylist
mylist

In [ ]:
x=0
while x<5:
    print(f'the current value of the c is {x}')
    x+=1
    else:
        print(f'or not {x})

In [15]:
mylist =[1,2,3]
for num in range(10):
    print (num)

0
1
2
3
4
5
6
7
8
9

In [16]:
list (range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [17]:
mylist2=[5,6,3]
mylist1=[1,2,3]
for num in zip (mylist1,mylist2):
    print(num)

(1, 5)
(2, 6)
(3, 3)

In [18]:
#list comprathansion
mylist=[letter for letter in 'mystring']

In [19]:
mylist

['m', 'y', 's', 't', 'r', 'i', 'n', 'g']

In [20]:
#Use for, .split(), and if to create a Statement that will print out words that start with 's':
st = 'Print only the words that start with s in this sentence'

In [21]:
st

'Print only the words that start with s in this sentence'

In [28]:
for word in  st.split():
    if word[0] =='s':
     print(word)

start
s
sentence

In [33]:
#Use range() to print all the even numbers from 0 to 10.
for num in range(10):
     print(num)

0
1
2
3
4
5
6
7
8
9

In [34]:
for num in range(0,10,2):
     print(num)

0
2
4
6
8

In [38]:
for num in range(10):
     if num%2==0:
        print(num)
        
     else: 
       print('it is not a even number')

0
it is not a even number
2
it is not a even number
4
it is not a even number
6
it is not a even number
8
it is not a even number

In [44]:
#Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

#list comprathansion
mylist=[num for num  in range(1,50,3)]

In [45]:
mylist

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [46]:
#Go through the string below and if the length of a word is even print "even!"
st = 'Print every word in this sentence that has an even number of letters'

In [47]:
st

'Print every word in this sentence that has an even number of letters'

In [64]:


   if len(st)%2==0:
     print(f'{len(st)} is even')

68 is even

In [70]:
for num in range(1,101):
 print('frixx')

frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx
frixx

In [71]:
st = 'Create a list of the first letters of every word in this string'

In [72]:
st

'Create a list of the first letters of every word in this string'

num

In [98]:

[num[0] for num in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [86]:
[w[0] for w in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [93]:
num

'string'

In [95]:
list(num)

['s', 't', 'r', 'i', 'n', 'g']

In [99]:
mylist =[1,2,3]

In [100]:
mylist

[1, 2, 3]

In [101]:
mylist.pop()

3

In [102]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [106]:
def add_func(num1,num2):
    return num1+num2

In [109]:
def say_hello():
    print('hrllo')

In [1]:
stock_prices = [('apple',200),('Good',400)]

In [3]:
for item in stock_prices:
    print(item)

('apple', 200)
('Good', 400)

In [5]:
for a,b in stock_prices:
 print(a,b)

apple 200
Good 400

In [6]:
example =[1,2,3,4,5,6,7]

In [7]:
from random import shuffle

In [8]:
example

[1, 2, 3, 4, 5, 6, 7]

In [9]:
result = shuffle(example)

In [12]:
def shuffle_list (mylist):
     shuffle(mylist)
     return mylist

In [13]:
result = shuffle(example)

In [14]:
result = shuffle_list(example)

In [15]:
result

[6, 7, 1, 2, 4, 5, 3]

In [ ]:
#initial list